<% if(success && success.length) { %>
    <!-- success will be true if the flash condition in app.js runs and it exist -->
    <!-- success.lenght will be true if its length is not 0 and greater than or equal to 1 -->

    <div role="alert" class="alert alert-success alert-dismissible fade show">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

            </button>
    </div>
    </div>


    <% } %>

        <% if(error && error.length) { %>
            <!-- do not forget that this error is different from other error since
                 this error is object in res.locals created by us as a flash message-->

            <div role="alert" class="alert alert-danger alert-dismissible fade show">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

                    </button>
            </div>
            </div>


            <% } %>