body{
    height : 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url("/pictures/BGcamp1.jpg");
    background-size : cover;
    background-position: center;

    text-shadow: 0 0.08rem 0.1rem rgba(0,0,0,0.5);
}

.cover-container{
    max-width: 60vw;
}

.nav-link{
    padding: 0.25rem 0;
    font-weight : 700;
    color: rgba(255,255,255,0.5 );
    margin-left:1rem;
    border-bottom : 0.25rem solid transparent;

}
.nav-link:hover{
    color:rgba(255,255,255 );
    border-bottom-color:rgba(255,255,255,0.5 );
}
.btn-secondary, .btn-secondary:hover{
    color:#333;
    text-shadow: none;
}

.nav-link.active{
    color:white;
    border-bottom-color:rgb(255,255,255);
}

p{
    color:white;

}